input,
ul,
li {
    background-color: #3B3B3B;
}

input {
    width: calc(250px - 2%);
    height: 40px;
    border: none;
    padding: 0;
    padding-left: 2%;
}
    input:hover,
    input:focus {
        outline: none;
    }

ul {
    list-style: none;
    width: 250px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    margin-top: 45px;
    padding: 0;
}

li {
    padding: 4%;
    width: 100%;
}
    li:hover {
        background-color: #525252;
        cursor: pointer;
    }

li > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    height: 40px;
    border-radius: 8px;
}
