.inputBox,
.itemList,
.item {
    background-color: #3B3B3B;
}

.inputContainer {
    background: linear-gradient(#06B0AE, #026F8C);
    position: relative;
    padding: 2px;
    border-radius: 2px;
}

.inputBox {
    width: calc(360px - 2%);
    height: 50px;
    border: none;
    padding: 0;
    padding-left: 2%;
    font-size: 16px;
}
    .inputBox:hover,
    .inputBox:focus {
        outline: none;
    }

.itemList {
    list-style: none;
    width: 360px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    margin-top: 60px;
    padding: 0;
}

.item {
    padding: 3% 4%;
    width: 100%;
}
    .item:hover {
        background-color: #525252;
        cursor: pointer;
    }

.item > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.itemImg {
    height: 40px;
    border-radius: 8px;
}
